<!--<div id="handle-dialog-modal">
     <div class="handle-dialog-modal-content">
          <p>
               <img src="/assets/loading.gif" />&nbsp;&nbsp;
          </p>
     </div>
</div>-->
<div id="dialog-overlay"></div><p id="notice"><%= notice %></p>
<script type="text/javascript">
    $(function () {
        data_upload("#item-data-uploader", 'xlsx');
    });
</script>
<h1>零件库位基础信息</h1>
<hr />
<p>
	<%= link_to '创建零件库存信息', new_inventory_path, class: 'btn btn-default' %>
	<a name="down_template" href="/file/download?folder=inventory&file=inventory_template.xlsx" class='btn btn-default' >下载模版</a>
	<input id="item-data-uploader" type="file" name="files[]" data-url="/inventories/import"/>

    <div class="abstractblock" id="item-data-uploader-preview" style="display:none;"></div>
	<%= link_to '上传数据', import_inventories_path, class: 'btn btn-primary' %>
	<%= link_to '返回', inventories_path, class: 'btn btn-default' %>
	
</p>