<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ip</key>
	<string>http://192.168.1.11:3000</string>
	<key>request_quantity</key>
	<string>200</string>
	<key>department</key>
	<string></string>
	<key>part_prefix</key>
	<string>P</string>
	<key>list_limit_user</key>
	<true/>
	<key>secret_key</key>
	<string>39c8942e1038872a822c0dc75eedbde3</string>
	<key>login</key>
	<string>/api/v1/users/login</string>
	<key>download_user_data</key>
	<string>/api/v1/users</string>
	<key>query</key>
	<string>/api/v1/inventory/query</string>
	<key>check</key>
	<string>/api/v1/inventory/check_data</string>
	<key>upload_check_data</key>
	<string>/api/v1/inventory/upload_check_data</string>
	<key>upload_random_check_data</key>
	<string>/api/v1/inventory/upload_random_check_data</string>
	<key>get_total</key>
	<string>/api/v1/inventory/total</string>
	<key>download_check_data</key>
	<string>/api/v1/inventory/download_check_data</string>
	<key>random_check_data</key>
	<string>/api/v1/inventory/random_check_data</string>
	<key>download_random_check_data</key>
	<string>/api/v1/inventory/down_random_check_data</string>
	<key>get_random_total</key>
	<string>/api/v1/inventory/random_total</string>
	<key>download_address</key>
	<string>/api/v1/inventory_file/download_inventory_file</string>
</dict>
</plist>
