<div id="handle-dialog-modal">
     <div class="handle-dialog-modal-content">
          <p>
               <!--<img src="/assets/loading.gif" />&nbsp;&nbsp;-->
          </p>
     </div>
</div>
<div id="dialog-overlay"></div><p id="notice"><%= notice %></p>
<script type="text/javascript">
    $(function () {
        data_upload("#item-data-uploader", 'xlsx');
    });
</script>
<h1>上传零件</h1>
<hr />
<p>
	<a name="down_template" href="/files/download?folder=inventory&file=user_template.xlsx" class='btn btn-default' >下载模版</a>
	<%= link_to '返回', users_path, class: 'btn btn-default' %>
	
	<input id="item-data-uploader" type="file" name="files[]" data-url="/users/import"/>

    <div class="abstractblock" id="item-data-uploader-preview" style="display:none;"></div>
	
	
</p>